.side-chat
  .side-chat__side-header
    .side-chat__side-box
      .side-box__username
        = current_user.name
      %ul.side-box_btn
        %li.list
          = link_to do
            = icon('fas', 'pen-square', class: 'new-group')
        %li.list
          = link_to edit_user_path(current_user) do
            = icon('fas', 'cog', class: 'edit-group')
  .side-chat__group-list
    .side-chat__groups
    .side-chat__group-name techcamp
    .side-chat__latest-message まだメッセージがありません